# /etc/mysql-manager/env
# Copia questo file in /etc/mysql-manager/env e imposta i valori reali
# chmod 600 /etc/mysql-manager/env
# chown mysqlmgr:mysqlmgr /etc/mysql-manager/env

SPRING_DATASOURCE_PASSWORD=password_schema_app
MYSQL_MANAGER_PASSWORD=password_root_mysql
